<hr />
<p>built with <a class="internal-link" href="{{ site.baseurl }}/built-with">open source</a>, hosted at <a href="https://codeberg.org/jonatasbaldin/pages">Codeberg</a></p>
<p>find me at <a href="{{ site.mastodon }}">mastodon</a></p>
<p>this website does not track you</p>