<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <script src="{{ site.baseurl }}/assets/list.min.js"></script>

  <title>
    {% if page.id == "home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} // {{ site.title }}
    {% endif %}
  </title>
</head>
