<a class="internal-link main-title" href="{{ site.baseurl }}/">jojo's garden</a>
<p><a class="internal-link" style="text-decoration-line: underline;" href="{{ site.baseurl }}/notes">/notes</a></p>
<p><a class="internal-link" style="text-decoration-line: underline;" href="https://uncloud.do">/uncloud</a></p>
<p><a class="internal-link" style="text-decoration-line: underline;" href="{{ site.baseurl }}/about">/who</a></p>