$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

nav * {
  display: inline;

  a {
    border-bottom: none;
  }
}

.main-title {
  font-size: 2em;
  border-bottom: none;
}

footer {
  font-size: 0.8em;
  color: mix($color-text, white, 80%);

  p {
    margin: 0;
  }

  hr {
    margin: 0;
    margin-top: 1.5em;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.toc-link:after,  // used by _includes/toc.html
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.note-index {
  margin: 0;
}

#map { height: 720px; }

.map-marker-visited-true {
  color: gray;
}

.map-popup-description {
  margin: 0;
}

.map-categories {
  label {
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px 10px;
  }
}

.map-visited {
  label {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 5px 10px;
  }
}

// DB
.tag {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1.25rem;
  border-color: $color-subtext;
  border-style: solid;
  border-width: 0.1rem;
}

.db {
  .search {
    width: 80%;
    border-radius: 1em;
    height: 2.5em;
    border-color: #999;
    border-width: 0.2em;
    border-style: solid;
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .tag-list {
    margin-top: .5em;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    overflow: auto;
    padding-top: .6em;
    padding-bottom: .6em;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  li:hover {
    background: #eee;
    cursor: pointer;
    padding-left: .6em;
  }

  h2 {
    font-size: 1.1em;
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

  a {
    &:after {
      content: none;
    }
    margin: 0;
    padding: 0;
  }
}


