<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
      <footer>{% include footer.html %}</footer>
    </div>

    {% if page.link_preview == true %}
      {% include link-previews.html wrapperQuerySelector="content" %}
    {% endif %}
  </body>
</html>
