---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <content>
    {% if page.toc == "yes" %}
      {% include toc.html html=content anchor_class="toc-link" %}
    {% endif %}

    {{ content }}
  </content>
  
</article>